.top-align {
    vertical-align: top;
}
.table,
.cb-table {
    display: table;
}
.tabular-row {
    display: table-row;
}
.cell {
    display: table-cell;
    white-space: nowrap;
}

.star {
    width: 1rem;
    height: 1rem;
    stroke-width: 3%;
    stroke: $black-75;
}
.star.filled {
    fill: $black-75;
}

.star.unavailable {
    stroke: $black-75;
    background: linear-gradient(
            45deg,
            transparent,
            transparent 48%,
            black 48%,
            black 52%,
            transparent 52%,
            transparent
        ),
        linear-gradient(
            -45deg,
            transparent,
            transparent 48%,
            black 48%,
            black 52%,
            transparent 52%,
            transparent
        );
}

.acmg-body {
    margin-top: 1.3rem;
    margin-bottom: 0.7rem;
    .suggested-class {
        transform: all 1.4s;
        padding-left: 0.3rem;
        padding-right: 0.1rem;
    }
}

section.acmg-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.acmg {
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: column;
    border-left: 0.3rem solid $black-25;
    section {
        min-height: 2.6rem;
        display: flex;
        align-items: center;
        padding: 0.7rem;
        padding-right: 0;
    }
    .upper-wrapper {
        display: flex;
    }
    &-upper {
        justify-content: space-between;
        white-space: nowrap;
        flex: 1;
    }
    button.transparent {
        background-color: Transparent;
        box-shadow: none;
        height: 1.8rem;
        padding: 0 0.7rem;
        &:hover {
            background-color: Transparent;
            box-shadow: none;
        }
    }
    h4 {
        font-family: $slim;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
    }
    p {
        color: $black-75;
        font-weight: 600;
    }
    h4.acmg-title ~ .right-item {
        margin-left: 2.6rem;
    }
    .left-item {
        flex-grow: 1;
        display: flex;
        h4 {
            padding-right: 0.7rem;
        }
        .adjust-button {
            font-size: 1.6rem;
            color: #333;
            cursor: pointer;
            user-select: none;
        }
    }
    .description {
        color: #333;
        font-weight: 400;
        padding-right: 0.7rem;
    }
    .right-item {
        padding-right: 0.7rem;
        color: #333;
    }
    .commentbox {
        width: 100%;
    }
    &.clickable {
        border-bottom: none;
        &:hover {
            border-bottom: none;
        }
    }
    &.indented {
        margin-top: -2.6rem;
    }
    .included & {
        border-left: 0.6rem solid $black-25;
        width: 75rem;
    }
}
.acmg-req {
    cursor: pointer;
}
.acmg-req.noclick {
    cursor: default;
}
.acmg-req .acmg-upper {
    height: 100%;
}
@each $name, $color in $acmg-map {
    .acmg.#{$name} {
        border-color: $color;
    }
    .acmg.#{$name},
    aside.acmg-req.#{$name} {
        .acmg-upper {
            background-color: hsla(
                hue($color),
                saturation($color),
                lightness($color),
                map-get($acmg-opacity, $name)
            );
        }
        .acmg-title-wrapper {
            min-width: 7rem;
            display: flex;
            justify-content: center;
        }
        h4.acmg-title {
            color: darken($color, 10);
            margin-right: 0.7rem;
            padding-right: 0;
        }
        h4.acmg-title.clickable {
            border-color: hsla(hue($color), saturation($color), lightness($color), 0.5);
        }
        .acmg-lower {
            background-color: hsla(hue($color), saturation($color), lightness($color), 0.02);
        }
    }
}
.acmg.re h4.acmg-title {
    color: white;
    letter-spacing: 0;
}
.acmg.re h4.acmg-title.clickable {
    border-color: $white-50;
}
.acmg-selection .acmg {
    margin-right: 0;
}

.report {
    pre {
        white-space: pre-wrap;
        background-color: rgba(0, 0, 0, 0.04);
        padding-left: 1rem;
    }
    .included-report {
        font-family: 'Source Code Pro', monospace;
        background-color: $purple-05;
        padding: 2rem;
        h5 {
            font-size: 1.4rem;
        }
    }
    &-entry ~ &-entry {
        margin-top: 2.6rem;
    }
}

.markdown {
    h1 {
        font-family: $slim;
        font-weight: 700;
        font-size: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }
    h2 {
        font-family: $slim;
        font-weight: 700;
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }
    h3 {
        font-family: $slim;
        font-weight: 700;
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }
    h4 {
        font-family: $slim;
        font-weight: 700;
        font-size: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }
    p,
    li,
    table {
        font-size: 1.4rem;
        font-weight: 400;
        // Same font-weight as table head
        strong {
            font-weight: 600;
        }
    }
    p,
    table {
        margin: 0.5rem;
    }
    table,
    ul {
        padding: 1rem;
        margin-bottom: 0.6rem;
    }
    ul {
        list-style-position: inside;
    }
    table {
        border-spacing: 1px 2px;
    }
    td,
    th {
        padding: 0.3rem 1rem;
        text-align: center;
    }
    th {
        font-weight: 600;
        background-color: #dbdce0;
        border-bottom: 1px solid $black-25;
    }
    tr {
        background-color: $white;
    }
    // Highlight rows on mouse hover
    tbody tr:hover {
        background-color: #f4f5f9;
    }
}

.analysis-info {
    .samples-container {
        display: flex;
        flex-wrap: wrap;
    }
    .attachments-container {
        display: flex;
        flex-wrap: nowrap;
        * .contentbox {
            width: 100%;
        }
    }
    h4.section-header {
        @extend .sb-notification;
        font-family: $slim;
        color: $blue-75;
        font-weight: 700;
        font-size: 1.25rem;
        padding-top: 1.5rem;
        padding-bottom: 0.4rem;
    }
    .report {
        margin: 0.5rem;
        padding: 1rem;
    }
    .warning {
        background-color: $red;
        margin: 0.5rem;
        padding: 1rem;
        color: $white;
        p {
            color: $white;
        }
    }
}

.vardb {
    .button-row {
        text-align: right;
    }
    .outdated {
        color: $red;
        text-transform: uppercase;
    }
}

div.existing-classification-comments .tabular-row:last-child .wysiwygeditor {
    border-bottom: none;
}

.general-list {
    display: flex;
    flex-direction: row;
    .list-item {
        display: flex;
        padding-left: 1.2rem;
        width: 100%;
    }
    max-height: 40rem;
    overflow: auto;
}

allele-selection {
    controls {
        display: flex;
        .pagination {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

analysis-selection {
    controls {
        display: flex;
        .pagination {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}

.analysis-list {
    display: flex;
    flex-direction: column;

    .list-item {
        display: flex;
        margin-bottom: 1rem;
        min-height: 3rem;
        font-size: 1.4rem;
        .analysis-date {
            color: $black-50;
        }
        .full-title {
            flex-grow: 1;
            padding-left: 1.2rem;
        }
        .analysis-priority {
            color: $red-75;
            padding-left: 1.3rem;
            text-transform: uppercase;
        }
        .analysis-users {
            padding-right: 2rem;
        }
        .analysis-extras {
            .analysis-comment {
                background-color: $green-25;
                padding: 0.3rem;
            }
        }
    }
}

.allele-list {
    display: flex;
    flex-direction: column;

    .list-item {
        display: flex;
        margin-bottom: 1rem;
        min-height: 3rem;
        font-size: 1.4rem;
        .analysis-date {
            color: $black-50;
        }
        .full-title {
            flex-grow: 1;
            padding-left: 1.2rem;
        }
        .allele-priority {
            color: $red-75;
            padding-left: 1.3rem;
            text-transform: uppercase;
        }
        .allele-users {
            padding-right: 2rem;
        }
        .allele-genepanel {
            padding-right: 2rem;
        }
        .allele-extras {
            padding-right: 1rem;
            .analysis-comment {
                background-color: $green-25;
                padding: 0.3rem;
            }
        }
    }
}

.import-job-list {
    display: flex;
    flex-direction: column;
    .list-item {
        display: flex;
        margin-bottom: 1rem;
        min-height: 3rem;
        font-size: 1.4rem;
        border-bottom: 1px dashed $black-25;
        .job-date {
            color: $black-50;
        }
        .job-title {
            flex-grow: 1;
            padding-left: 1.2rem;
        }
        .job-submitted {
            font-weight: 500;
            padding-left: 1.2rem;
            padding-right: 2.2rem;
        }
        .job-status {
            padding-right: 2.2rem;
        }
        .job-actions {
            padding-right: 1.2rem;
        }
    }
}

.gene-list {
    display: flex;
    flex-direction: column;
    .list-item {
        display: flex;
        margin-bottom: 1rem;
        min-height: 3rem;
        font-size: 1.4rem;
        border-bottom: 1px dashed $black-25;
        .gene {
            font-weight: 500;
            padding-left: 1.2rem;
            min-width: 10rem;
        }
        .transcript {
            font-weight: 500;
            flex-grow: 1;
            padding-left: 1.2rem;
        }
        .action {
            padding-right: 1.2rem;
        }
        &.added {
            opacity: 0.5;
        }
    }
}

.import {
    .import-history-pagination {
        justify-content: flex-end;
        margin: 0;
        padding-bottom: 2rem;
    }
    .no-jobs {
        min-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 0.5rem;
        h2 {
            font-family: $slim;
            font-size: 1.8rem;
            font-weight: 600;
            letter-spacing: 0.075rem;
            text-transform: uppercase;
            color: $black-50;
        }
        h4 {
            font-family: $slim;
            font-size: 1.6rem;
            font-weight: 600;
            letter-spacing: 0.075rem;
            text-transform: uppercase;
            color: $black-25;
        }
    }
    .custom-genepanel {
        .name {
            margin-bottom: 1rem;
            font-size: 1.4rem;
            input {
                width: 16rem;
            }
        }
        padding: 0 2rem 2rem 2rem;

        .slim {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        .section {
            display: flex;
            padding-top: 1rem;
            min-height: 15rem;

            .filter {
                width: 25rem;
                display: flex;
                flex-direction: column;
                border-right: 1px dashed $black-25;
                padding-right: 2rem;
                transition: all 1s linear;

                input[type='text'] {
                    width: unset;
                }

                .filter-mode-controls {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .missing-warning {
                        font-family: $full;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        color: $red-75;
                    }
                    .bttn-set {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                    }
                }

                .batch-mode {
                    .gene-batch-input {
                        &.missing {
                            border: 3px solid $red-75;
                        }
                        height: 25rem;
                        border: 1px solid $black-25;
                        margin-bottom: 1rem;
                    }

                    .batch-mode-controls {
                        display: flex;
                        justify-content: space-between;
                        button:only-child {
                            margin-left: auto;
                        }
                    }
                }
            }

            .results {
                flex-grow: 1;
                padding-left: 2rem;

                .results-header {
                    display: flex;
                    justify-content: space-between;

                    .gene-pagination {
                        margin-left: 2rem;
                        margin-right: 1rem;
                    }
                    .slim {
                        flex-grow: 1;
                    }
                }

                .gene-list {
                    margin-top: 2rem;
                }
            }
        }
        hr {
            margin-top: 4rem;
            margin-bottom: 2rem;
            border-top-color: $black-25;
        }
        .custom-genepanel-results {
            background-color: $green-05;
            padding: 1rem;
            margin: -1rem;
            margin-top: 0;
        }
    }
}

.attachment {
    margin-right: 1rem;
    padding-bottom: 0;
    border: solid 1px $black-05;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attachmentcontrollers {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    height: 1.5rem;
    color: $black-75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.attachmentfilename {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    vertical-align: top;
    margin-top: -0.2rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.downloadattachment > a {
    border-bottom: none;
}

.removeattachment {
    margin-top: 0.1rem;
    cursor: pointer;
}

.attachment-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
}

.droparea-hidden {
    display: none;
}

.attachment * img,
.attachment * .attachmentcontrollers,
.attachment * .attachmentthumbnail {
    width: 100%;
}

.workflow-status-selection {
    display: flex;
    padding: 3rem;

    button {
        margin-left: 0; // Reset margin
    }
    .step-indicator {
        padding-top: 0.6rem;
        padding-bottom: 0.8rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        font-size: 2rem;
        line-height: 1.4rem;
    }
}

//upload > label > div {
//  display: flex;
//}

.allele-info-quality {
    display: flex;
    padding: 0.5rem;
    .sample-display {
        &:not(:first-child) {
            padding-left: 1.5rem;
        }
        &:not(:last-child) {
            padding-right: 1rem;
            border-right: $black-10 1px dashed;
        }
        .sample-title {
            font-size: 1.5rem;
        }
    }
}

.reference-detail {
    width: 100%;
    min-height: 4rem;

    .reference-title-container {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        padding-right: 2rem;
        font-size: 1.4rem;
        align-items: flex-start;

        .reference-title {
            flex-grow: 1;
            margin-right: 2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reference-desc {
            padding-right: 2rem;
            justify-self: flex-start;
            white-space: nowrap;
        }

        .reference-emph {
            color: $red-75;
            text-transform: uppercase;
            font-weight: bold;
        }

        .reference-controls {
            justify-self: flex-start;
            white-space: nowrap;
        }
    }
}

allele-info-references {
    h3 {
        margin-top: 1rem;
    }

    article {
        margin-left: -1.3rem;
        margin-right: -1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.3rem;
        padding-right: 1.2rem;

        border: 0;
        border-bottom: 0.3rem solid #8ca6ba;

        &:last-child {
            border-bottom: 0;
        }
    }
}

allele-info-classification * cbbody {
    > section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > h2 {
            white-space: normal;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        > p {
            white-space: nowrap;
            padding-top: 1.5rem;
        }
    }
}

.similar-alleles-list {
    display: flex;
    flex-direction: column;

    .similar-alleles-list-item {
        vertical-align: baseline;
        display: flex;
        flex-wrap: nowrap;
        align-content: space-between;
        align-items: baseline;

        a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 300;
            font-size: 1.4rem;
        }
        div:nth-child(1) {
            flex-grow: 1;
            a {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 300;
                font-size: 1.4rem;
            }
        }
        div:nth-child(2) {
            margin-left: 10px;
            margin-right: 10px;
            white-space: nowrap;
        }
        div:nth-child(3) {
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
