.modal {
    overflow: auto;
    &-content {
        background-color: white;
        box-shadow: none;
        border-radius: 0px;
        border: 0;
        sectionbox[modal='true'] > section {
            min-height: 20rem;
        }
    }
    // Set width logic to our own preferences
    &-dialog {
        margin: 12.5rem auto 5rem auto;
        max-width: calc(30rem + 50vw);
        max-width: calc(90vw);
        width: inherit;
        overflow-y: auto;
    }
    &-lg {
        width: inherit;
    }
    &-backdrop {
        bottom: 0;
        position: fixed;
        top: 0;
        z-index: 1040;
        opacity: 0.6;
        &.in {
            opacity: 0.6;
        }
    }
}

body.modal-open {
    overflow: hidden;
}

// - Primarily used in modals for user prompts and information
// - 'middle' is optional
.line-wrapper {
    display: flex;
    align-items: center;
    &.centered {
        justify-content: center;
    }
    &.spaced {
        justify-content: space-between;
    }
    &.pinned-right {
        justify-content: flex-end;
    }
    &.bottom {
        align-items: flex-end;
    }
    &.list-item {
        margin-bottom: 1.3rem;
    }
    &.only-control {
        height: 100%;
    }
    .left {
        flex: 4;
        text-align: right;
    }
    .left-basic {
        text-align: right;
    }
    .left-small {
        flex: 1;
        text-align: right;
    }
    .middle {
        flex: 0.5;
        text-align: center;
    }
    .middle-small {
        flex: 0.1;
        text-align: center;
    }
    .right {
        flex: 4;
    }
    .left ~ .right {
        margin-left: 1.3rem;
    }
    .left-basic ~ .right-basic {
        margin-left: 1.3rem;
    }
    .left-short {
        text-align: right;
        flex: 2;
        padding-right: 1.6rem;
    }
}
.question {
    min-height: 8rem;
    .multiple-question-element ~ .multiple-question-element {
        margin-left: 1.3rem;
    }
    .dropdown {
        background-color: $blue-05;
        border: 1px solid $blue-25;
        display: inline-block;
    }
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.05rem;
    }
    h5 {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
        white-space: normal;
        padding: 0;
    }
    p {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0;
    }
    textarea {
        width: 100%;
        font-size: 1.2rem;
        font-family: $slim;
    }
}
.bttn-set {
    @extend .line-wrapper;
    flex-wrap: wrap;
}
.bttn {
    background-color: $blue-05;
    border: 1px solid $blue-05;
    & ~ & {
        border-left: 1px solid $blue-25;
        margin-left: 0;
    }
    &[disabled],
    &.disabled {
        opacity: 0.25;
        border: 1px solid $blue-50;
    }
    &[disabled] ~ &[disabled],
    &.disabled ~ &.disabled {
        border-left: none;
    }
    &:hover:not([disabled]) {
        background-color: $blue-25;
        cursor: pointer;
    }
    &.active:hover {
        background-color: $blue-75;
        box-shadow: 0 0.3rem 0 $black-05;
        cursor: default;
        color: white;
    }
    &.active {
        background-color: $blue-75;
        color: white;
    }
    &.active + & {
        border-left: 1px solid Transparent;
    }
}
.question.tiny {
    min-height: 3rem;
}
.question.small {
    min-height: 4rem;
}
.question.medium {
    min-height: 6rem;
}
.question.centered {
    text-align: center;
}
.question.parent {
    margin-bottom: -1rem;
}

// Used only in Add references (customAnnotationModal)
.big textarea {
    max-height: 25vh;
    margin: 1.3rem 0 2.6rem;
}

.tippy-content {
    padding: 0.8rem !important;
    word-break: break-all;
}

.tippy-popover {
    .popover-list {
        list-style: none;
        &.indented {
            margin-left: 1.3rem;
        }
    }
    .tippy-popover-title {
        @extend .slim;
        @extend .title;
        color: $blue;
        font-weight: 600;
        font-size: 1.4rem !important;
        border: none;
        padding-bottom: 0.3rem;
        padding-top: 0.3rem;
        width: 100%;
    }
    h3.p-title {
        font-weight: 600;
        font-size: 1.4rem;
        color: $black-75;
        margin: 0.7rem 0;
    }
}
.acmg-notes {
    margin-left: 2.6rem;
    color: #333;
}

.acmg-popover {
    h3 {
        font-weight: 600;
        font-size: 1.4rem;
        color: $black-75;
        margin: 0.7rem 0;
    }
    p {
        font-weight: 400;
        margin: 0;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 1.4rem;
    }
}

.acmg-selection-popover {
    width: 45rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - #{$nav-bar-top-height} - 15rem);
    .acmg-selection {
        overflow-y: auto;
    }
}

.gene-popover {
    width: 90rem;
    max-height: 70vh;
    overflow-y: auto;
}

.interpretationlog-popover {
    width: 70rem;
    padding: 0.2rem;
    height: calc(100vh - #{$nav-bar-top-height} - 10rem);
    h3 {
        font-weight: 600;
        font-size: 1.4rem;
        color: $black-75;
        margin: 0.7rem 0;
    }
    p {
        font-weight: 400;
        margin: 0;
        word-wrap: break-word;
        word-break: break-word;
        font-size: 1.4rem;
    }
}

.reference,
.reference .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reference .control {
    padding-left: 0.7rem;
}

.pagination {
    @extend .bttn-set;
    list-style: none;
    li {
        @extend .bttn;
        padding: 0;
    }
    li.disabled:hover {
        cursor: default;
        background-color: inherit;
        box-shadow: 0 0.3rem 0 $black-05;
    }
    li.disabled a:hover {
        cursor: default;
    }
    li a {
        border-bottom: none;
        padding: 0.25rem 0.75rem;
        padding-top: 0.4rem;
        display: block;
    }
    li a:hover {
    }
}
.pagination * {
    border-radius: 0 !important;
}

.allele-control-bar {
    margin-bottom: 1.3rem;
}

.reference-eval-popover {
    max-width: 30vw;
}

.custom-annotation-modal {
    .db-url {
        font-size: 1.4rem;
        font-weight: 300;
        font-family: $full;
        margin-left: 1rem;
    }
}

.genepanel-overview {
    font-family: $full;
    font-size: 1.4rem;
    margin: 1rem;
    justify-items: left;

    .info-container {
        display: flex;
        justify-content: space-between;
        button {
            margin-top: 0.5rem;
        }

        .genepanel-stats-container {
            .genepanel-stats {
                .additional-count {
                    color: $green;
                }
                .missing-count {
                    color: $red;
                }
                .cell {
                    padding-right: 1rem;
                }
            }
        }
    }

    .copy-button {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .filter-controls {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0.5rem;

        input {
            margin-left: 1.4rem;
            width: 15rem;
        }

        .pagination-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                padding-right: 2rem;
            }
            .pagination-sm {
                padding-right: 2rem;
            }
        }
    }
    .no-results {
        height: 10rem;
    }
    .genepanel-gene-container {
        margin: 0 auto;
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-row-gap: 0.2em;
        grid-column-gap: 1.3em;

        .genepanel-gene {
            padding: 1rem 0.2rem;
            text-align: center;
            .gene-name {
                border-bottom: 1px dashed;
                border-color: $black-25;
                cursor: pointer;
            }
        }
    }
}

.allele-history {
    font-family: $full;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 80vw;

    .allele-history-summary {
        padding-top: 1rem;
        padding-bottom: 1rem;
        li {
            list-style: none;
            .summary-item {
                font-weight: 600;
            }
            .details {
                color: $black-75;
            }
        }
    }

    .full-view {
        .controls {
            display: flex;
            .dropdown {
                width: 50rem;
            }
            .view-mode-buttons {
                margin-left: 2rem;
            }
        }
        .history-details {
            .title {
                display: block;
                margin-top: 1.7rem;
                margin-bottom: 0.5rem;
                font-family: $slim;
                font-weight: 700;
                letter-spacing: 0.1rem;
                font-size: 1.3rem;
                text-transform: uppercase;
                white-space: nowrap;
            }
            margin-top: 2rem;

            .added-acmg {
                display: inline-block;
                border: 3px solid #8affa7;
                margin-bottom: 0.5rem;
                padding: 0.2rem;
            }

            .removed-acmg {
                display: inline-block;
                border: 3px solid #ff9999;
                margin-bottom: 0.5rem;
                padding: 0.2rem;
            }
        }

        * .bttn-set > .dropdown {
            margin-left: 1rem;
        }
    }
}
