<sectionbox
    class="id-sectionbox-{{ $ctrl.sectionKey }}"
    color="{{ $ctrl.getCardColor() }}"
    on-collapse="$ctrl.collapseChangedWrapper(collapsed)"
    collapsed="$ctrl.collapsed"
    ng-watch="$ctrl.collapsed"
>
    <maintitle> {{ $ctrl.section.title }} </maintitle>
    <subtitle ng-if="$ctrl.section.subtitle">{{ $ctrl.section.subtitle }}</subtitle>

    <controls>
        <!-- Controls -->
        <section class="line-wrapper" ng-if="$ctrl.section.controls.length">
            <div
                class="button"
                ng-repeat="control in $ctrl.section.controls"
                ng-if="$ctrl.showControls()"
            >
                <button
                    class="id-finalize-button"
                    ng-if="control == 'finalize' && $ctrl.showFinalize()"
                    ng-disabled="!$ctrl.canFinalize()"
                    ng-click="$ctrl.finalizeAllele()"
                    title="{{ $ctrl.finalizeTitle() }}"
                >
                    {{ $ctrl.getFinalizeButtonText() }}
                </button>

                <confirm-button
                    class="id-undo-report"
                    ng-if="
                        control == 'reuse_classification' &&
                        $ctrl.hasExistingAlleleReport &&
                        $ctrl.isAlleleReportUpdated
                    "
                    confirm-action="$ctrl.reuseAlleleReport"
                    ng-disabled="$ctrl.readOnly"
                    color="purple"
                >
                    Undo report changes
                </confirm-button>

                <confirm-button
                    class="id-undo-reevaluate"
                    ng-if="
                        control == 'reuse_classification' &&
                        $ctrl.hasExistingAlleleAssessment &&
                        !$ctrl.isAlleleAssessmentReused
                    "
                    confirm-action="$ctrl.reuseAlleleAssessment"
                    ng-disabled="$ctrl.readOnly"
                >
                    Undo re-evaluation
                </confirm-button>

                <button
                    class="id-reevaluate"
                    ng-if="
                        control == 'reuse_classification' &&
                        $ctrl.hasExistingAlleleAssessment &&
                        $ctrl.isAlleleAssessmentReused
                    "
                    ng-click="$ctrl.reuseAlleleAssessment()"
                    ng-disabled="$ctrl.readOnly"
                >
                    Re-evaluate
                </button>

                <button
                    class="id-add-references"
                    ng-click="$ctrl.addReferencesClicked({alleleId: $ctrl.selectedAllele})"
                    ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                    ng-if="control == 'references'"
                >
                    Add studies
                </button>

                <button
                    class="id-show-ignored-references"
                    ng-click="$ctrl.showExcludedReferencesClicked({alleleId: $ctrl.selectedAllele})"
                    ng-if="control == 'references'"
                >
                    {{ $ctrl.getExcludedReferencesBtnText() }}
                </button>

                <button
                    class="id-add-external"
                    ng-if="control == 'custom_external'"
                    ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                    ng-click="$ctrl.addExternalClicked({alleleId: $ctrl.selectedAllele})"
                >
                    Add external DB
                </button>

                <button
                    class="id-add-prediction"
                    ng-if="control == 'custom_prediction'"
                    ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                    ng-click="$ctrl.addPredictionClicked({alleleId: $ctrl.selectedAllele})"
                >
                    Add prediction
                </button>

                <section class="line-wrapper" ng-if="control == 'classification'">
                    <div class="dropdown" ng-class="{ disabled: $ctrl.readOnly }">
                        <select
                            class="id-select-classification"
                            ng-class="{ readOnly: $ctrl.readOnly }"
                            ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                            ng-model="$ctrl.modelClassification"
                            ng-model-watch="$ctrl.alleleassessment.classification"
                            ng-options="o.value as o.name for o in $ctrl.classificationOptions"
                            ng-change="$ctrl.classificationChanged({alleleId: $ctrl.selectedAllele, classification: $ctrl.modelClassification})"
                        ></select>
                    </div>
                </section>
                <div
                    class="bttn-set"
                    ng-if="control == 'validation'"
                    tippy-title="Externally verified (e.g. with Sanger)"
                >
                    <label
                        tabindex="0"
                        ng-disabled="$ctrl.readOnly"
                        class="bttn"
                        ng-model="$ctrl.modelVerificationStatus"
                        ng-model-watch="$ctrl.verificationStatus"
                        ng-change="$ctrl.verificationStatusChanged({alleleId: $ctrl.selectedAllele, verificationStatus: $ctrl.modelVerificationStatus})"
                        uib-btn-radio="s"
                        uib-uncheckable="false"
                        ng-repeat="s in ['verified', 'technical']"
                        >{{ s | uppercase }}</label
                    >
                </div>

                <div
                    class="bttn-set"
                    ng-if="control == 'not-relevant'"
                    tippy-title="Regarded as not relevant for this analysis"
                >
                    <label
                        tabindex="0"
                        ng-disabled="$ctrl.readOnly"
                        class="bttn"
                        ng-model="$ctrl.modelNotRelevant"
                        ng-model-watch="$ctrl.notRelevant"
                        ng-change="$ctrl.notRelevantChanged({alleleId: $ctrl.selectedAllele, notRelevant: $ctrl.modelNotRelevant})"
                        uib-btn-radio="true"
                        uib-uncheckable="false"
                        >{{ $ctrl.notRelevant ? 'Marked not relevant' : 'Not relevant' }}</label
                    >
                </div>
            </div>
        </section>
    </controls>

    <!-- Comments -->
    <top class="comments">
        <!-- we should use ng-model-watch here, but editor does not
        support external updates in a good way
         shouldn't be a problem as long as we don't Compute on this value -->
        <wysiwyg-editor
            templates="$ctrl.getAlleleassessmentCommentTemplates()"
            references="$ctrl.editorReferences"
            class="control-comment id-comment-{{ $ctrl.section.alleleassessmentComment.name }}"
            collapsed="$ctrl.collapsed"
            expand-fn="$ctrl.collapseChangedWrapper(collapsed)"
            ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
            placeholder="{{ $ctrl.section.alleleassessmentComment.placeholder }}"
            ng-change="$ctrl.evaluationCommentChanged({alleleId: $ctrl.selectedAllele, name: $ctrl.section.alleleassessmentComment.name, comment: $ctrl.modelSectionEvaluationComment})"
            ng-model="$ctrl.modelSectionEvaluationComment"
            ng-model-watch="$ctrl.alleleassessment.evaluation[$ctrl.section.alleleassessmentComment.name].comment"
            ng-if="$ctrl.section.alleleassessmentComment"
        ></wysiwyg-editor>

        <wysiwyg-editor
            templates="$ctrl.getAnalysisSpecificCommentTemplates()"
            references="$ctrl.editorReferences"
            class="control-comment id-comment-analysis"
            collapsed="$ctrl.collapsed"
            expand-fn="$ctrl.collapseChangedWrapper(collapsed)"
            ng-disabled="$ctrl.readOnly"
            placeholder="{{ $ctrl.section.analysisComment.placeholder }}"
            ng-change="$ctrl.analysisCommentChanged({alleleId: $ctrl.selectedAllele, comment: $ctrl.modelAnalysisComment})"
            ng-model="$ctrl.modelAnalysisComment"
            ng-model-watch="$ctrl.alleleState.analysis.comment"
            ng-if="$ctrl.section.analysisComment"
        ></wysiwyg-editor>

        <wysiwyg-editor
            templates="$ctrl.getAlleleReportCommentTemplates()"
            references="$ctrl.editorReferences"
            class="control-comment id-comment-report"
            collapsed="$ctrl.collapsed"
            expand-fn="$ctrl.collapseChangedWrapper(collapsed)"
            ng-disabled="$ctrl.readOnly"
            placeholder="{{ $ctrl.section.reportComment.placeholder }}"
            ng-change="$ctrl.alleleReportCommentChanged({alleleId: $ctrl.selectedAllele, comment: $ctrl.modelAlleleReportComment})"
            ng-model="$ctrl.modelAlleleReportComment"
            ng-model-watch="$ctrl.allelereport.evaluation.comment"
            ng-if="$ctrl.section.reportComment"
        ></wysiwyg-editor>

        <div
            class="id-attachments"
            ng-if="
                $ctrl.section.options.showIncludedAcmgCodes &&
                $ctrl.alleleassessment.attachment_ids.length
            "
        >
            <h4 class="section-title acmg-body">Attachments</h4>
            <section class="attachment-wrapper">
                <attachment
                    ng-repeat="attachment_id in $ctrl.alleleassessment.attachment_ids"
                    attachment-path="'views.workflows.interpretation.data.attachments.' + attachment_id"
                    read-only="$ctrl.readOnly || $ctrl.isAlleleAssessmentReused"
                >
                </attachment>
                <upload mode="'drop'"></upload>
            </section>
        </div>

        <!-- Included ACMG codes -->
        <!-- Don't use 'track by $index' -->
        <div class="id-acmg-included" ng-if="$ctrl.section.options.showIncludedAcmgCodes">
            <h4 class="section-title acmg-body">
                ACMG
                <span ng-if="!$ctrl.readOnly && !$ctrl.isAlleleAssessmentReused"
                    >(SUGGESTED CLASS:
                    <span class="suggested-class">{{
                        $ctrl.alleleassessment.evaluation.acmg.suggested_classification
                    }}</span
                    >)</span
                >
            </h4>
            <section class="acmg-wrapper included">
                <acmg
                    templates="$ctrl.getAcmgCommentTemplates()"
                    references="$ctrl.editorReferences"
                    collapsed="$ctrl.collapsed"
                    directreqs="true"
                    code="code"
                    isUpgradable="true"
                    isDowngradable="true"
                    ng-repeat="code in $ctrl.includedAcmgCopies track by code.uuid"
                    on-toggle="
                        $ctrl.removeAcmgClicked({
                            alleleId: $ctrl.selectedAllele,
                            code: { uuid: code.uuid }
                        })
                    "
                    toggle-text="REMOVE"
                    comment-model="code.comment"
                    on-update="$ctrl.acmgCodeChangedWrapper(code)"
                    editable="!$ctrl.isAlleleAssessmentReused && !$ctrl.readOnly"
                >
                </acmg>
            </section>
        </div>
    </top>

    <contentwrapper>
        <allele-sectionbox-content
            class="sectionbox-content"
            allele-path="$ctrl.getAllelePath()"
            boxes="$ctrl.sectionBoxContents"
        ></allele-sectionbox-content>
    </contentwrapper>
</sectionbox>
