<label ng-if="$ctrl.mode === 'browse'" for="file-input" class="input-label">
    <div class="id-upload upload-button">{{ $ctrl.buttontext }}</div>
    <input
        type="file"
        ng-disabled="$ctrl.readOnly ||  !$ctrl.isUploadEnabled() || $ctrl.ngDisabled"
        id="file-input"
        hidden="true"
    />
</label>
<article
    ng-if="$ctrl.mode === 'drop' && !$ctrl.readOnly && $ctrl.isUploadEnabled()"
    class="attachment droparea droparea-hidden"
    ng-style="{ opacity: $ctrl.getOpacity() }"
>
    <div>
        <svg
            id="i-upload"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
        >
            <path
                d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 18 L16 14 21 18 M16 14 L16 29"
            />
        </svg>
    </div>
    <section class="attachmentcontrollers"></section>
</article>
