<div class="sidebar" ng-class="{ 'constrain-size': $ctrl.constrainSize }">
    <div class="controls" ng-if="$ctrl.showControls">
        <wysiwyg-editor
            class="control-comment id-indications-comment"
            templates="$ctrl.getReportIndicationsTemplates()"
            references="$ctrl.editorReferences"
            ng-disabled="$ctrl.readOnly"
            placeholder="INDICATIONS COMMENT"
            ng-model="$ctrl.indicationsComment"
            ng-change="$ctrl.indicationsCommentChanged({comment: $ctrl.indicationsComment})"
        ></wysiwyg-editor>
        <div class="control-section">
            <button
                class="blue id-add-excluded"
                ng-click="$ctrl.showAddExcludedAllelesClicked({
                  analysisId: $ctrl.analysisId,
                  readOnly: $ctrl.readOnly,
                  genepanel: $ctrl.selectedGenepanel,
                  includedAlleleIds: $ctrl.manuallyAddedAlleleIds,
                  excludedAlleleIds: $ctrl.excludedAlleleIds,
                  filterConfig: $ctrl.selectedFilterConfig
                })"
            >
                <svg
                    id="i-plus"
                    class="buttonmark"
                    viewBox="0 0 32 32"
                    width="32"
                    height="32"
                    fill="none"
                    stroke="currentcolor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="6.25%"
                >
                    <path d="M16 2 L16 30 M2 16 L30 16" />
                </svg>
                <span>
                    {{ $ctrl.manuallyAddedAlleleIds.length || 0 }}/{{
                        $ctrl.getExcludedAlleleCount()
                    }}</span
                ><span class="add-excluded-button">Filter</span>
            </button>

            <div class="button">
                <section class="line-wrapper">
                    <div
                        class="dropdown filter-config-selection"
                        ng-class="{ disabled: $ctrl.isHistoricData() }"
                    >
                        <select
                            class="id-select-filterconfig"
                            ng-disabled="$ctrl.isHistoricData()"
                            ng-model="$ctrl.modelFilterconfigId"
                            ng-model-watch="$ctrl.selectedFilterConfig.id"
                            ng-options="o.id as o.name for o in $ctrl.getFilterConfigs()"
                            ng-change="$ctrl.filterconfigChanged({filterconfigId: $ctrl.modelFilterconfigId})"
                        ></select>
                    </div>
                </section>
            </div>
            <div class="control-section classification-type-controls">
                <div class="bttn-set">
                    <label
                        tabindex="0"
                        class="bttn"
                        id="classification-type-{{ c | lowercase }}"
                        ng-model="$ctrl.modelSelectedClassificationType"
                        ng-model-watch="$ctrl.selectedClassificationType"
                        ng-change="$ctrl.classificationTypeChanged({classificationType: c})"
                        uib-btn-radio="c"
                        ng-repeat="c in $ctrl.classificationTypes"
                        >{{ c }}</label
                    >
                </div>
            </div>
        </div>
    </div>
    <allele-sidebar-list
        class="id-unclassified"
        allele-ids-path="'views.workflows.alleleSidebar.unclassified'"
        alleles-path="'views.workflows.interpretation.data.alleles'"
        section-content-path="'views.workflows.components.Classification.sectionContent'"
        row-clicked-path="'views.workflows.alleleSidebar.alleleRowClicked'"
        order-by-path="'views.workflows.alleleSidebar.orderBy.unclassified'"
        classification-options="$ctrl.getSidebarConfig().classification_options.unclassified"
        comment-type="{{ $ctrl.getSidebarConfig().comment_type.unclassified }}"
        columns="$ctrl.getSidebarConfig().columns"
        shade-multiple-in-gene="$ctrl.getSidebarConfig().shade_multiple_in_gene"
        narrow-comment="$ctrl.getSidebarConfig().narrow_comment"
        togglable="false"
        read-only="$ctrl.readOnly"
        section-title="Unclassified variants"
    >
    </allele-sidebar-list>
    <allele-sidebar-list
        class="id-classified"
        allele-ids-path="'views.workflows.alleleSidebar.classified'"
        alleles-path="'views.workflows.interpretation.data.alleles'"
        section-content-path="'views.workflows.components.Classification.sectionContent'"
        row-clicked-path="'views.workflows.alleleSidebar.alleleRowClicked'"
        toggle-clicked-path="'views.workflows.alleleSidebar.alleleRowToggled'"
        order-by-path="'views.workflows.alleleSidebar.orderBy.classified'"
        classification-options="$ctrl.getSidebarConfig().classification_options.classified"
        comment-type="{{ $ctrl.getSidebarConfig().comment_type.classified }}"
        columns="$ctrl.getSidebarConfig().columns"
        shade-multiple-in-gene="$ctrl.getSidebarConfig().shade_multiple_in_gene"
        narrow-comment="$ctrl.getSidebarConfig().narrow_comment"
        togglable="$ctrl.isTogglable"
        toggled="$ctrl.isToggled"
        read-only="$ctrl.readOnly"
        section-title="Classified variants"
    >
    </allele-sidebar-list>

    <div class="spacer"></div>

    <allele-sidebar-list
        class="id-notrelevant"
        allele-ids-path="'views.workflows.alleleSidebar.notRelevant'"
        alleles-path="'views.workflows.interpretation.data.alleles'"
        section-content-path="'views.workflows.components.Classification.sectionContent'"
        row-clicked-path="'views.workflows.alleleSidebar.alleleRowClicked'"
        order-by-path="'views.workflows.alleleSidebar.orderBy.notRelevant'"
        classification-options="$ctrl.getSidebarConfig().classification_options.not_relevant"
        comment-type="{{ $ctrl.getSidebarConfig().comment_type.not_relevant }}"
        columns="$ctrl.getSidebarConfig().columns"
        shade-multiple-in-gene="$ctrl.getSidebarConfig().shade_multiple_in_gene"
        narrow-comment="$ctrl.getSidebarConfig().narrow_comment"
        togglable="false"
        read-only="$ctrl.readOnly"
        section-title="Not relevant variants"
        classification-type="$ctrl.classificationType"
    >
    </allele-sidebar-list>
    <allele-sidebar-list
        class="id-technical"
        allele-ids-path="'views.workflows.alleleSidebar.technical'"
        alleles-path="'views.workflows.interpretation.data.alleles'"
        section-content-path="'views.workflows.components.Classification.sectionContent'"
        row-clicked-path="'views.workflows.alleleSidebar.alleleRowClicked'"
        order-by-path="'views.workflows.alleleSidebar.orderBy.technical'"
        classification-options="$ctrl.getSidebarConfig().classification_options.technical"
        comment-type="{{ $ctrl.getSidebarConfig().comment_type.technical }}"
        columns="$ctrl.getSidebarConfig().columns"
        shade-multiple-in-gene="$ctrl.getSidebarConfig().shade_multiple_in_gene"
        narrow-comment="$ctrl.getSidebarConfig().narrow_comment"
        togglable="false"
        read-only="$ctrl.readOnly"
        section-title="Technical variants"
        classification-type="$ctrl.classificationType"
    >
    </allele-sidebar-list>
</div>
