<div class="wrapper-login">
    <div class="main-navbar">
        <navbar></navbar>
    </div>
    <div class="main-content">
        <div class="login-content">
            <sectionbox class="login-box" collapsible="false" color="green" topcontrols="true">
                <maintitle> Login </maintitle>
                <contentwrapper>
                    <div class="bttn-set">
                        <label
                            tabindex="0"
                            class="bttn"
                            uib-btn-radio="item"
                            ng-model="$ctrl.mode"
                            ng-change="$ctrl.modeChanged({mode: $ctrl.mode})"
                            ng-repeat="item in $ctrl.modes"
                            >{{ item }}</label
                        >
                    </div>
                    <section class="line-wrapper">
                        <form class="table">
                            <div class="table">
                                <div class="spacer2"></div>
                                <div class="tabular-row spacer">
                                    <h3 class="full-title upper cell"><i>Username</i></h3>
                                    <input
                                        class="cell id-username"
                                        ng-model="$ctrl.username"
                                        ng-change="$ctrl.usernameChanged({username: $ctrl.username})"
                                    />
                                </div>
                                <div class="tabular-row spacer">
                                    <h3 class="full-title upper cell"><i>Password</i></h3>
                                    <input
                                        class="cell id-password"
                                        ng-model="$ctrl.password"
                                        ng-change="$ctrl.passwordChanged({password: $ctrl.password})"
                                        type="password"
                                    />
                                </div>
                                <div
                                    class="tabular-row spacer"
                                    ng-if="$ctrl.mode === $ctrl.modes[1]"
                                >
                                    <h3 class="full-title upper cell"><i>New password</i></h3>
                                    <input
                                        class="cell"
                                        ng-class="{
                                            inputerror:
                                                !$ctrl.passwordStrength && $ctrl.newPassword.length
                                        }"
                                        ng-model="$ctrl.newPassword"
                                        ng-change="$ctrl.newPasswordChanged({newPassword: $ctrl.newPassword})"
                                        type="password"
                                    />
                                </div>
                                <div
                                    class="tabular-row spacer"
                                    ng-if="$ctrl.mode === $ctrl.modes[1]"
                                >
                                    <h3 class="full-title upper cell">
                                        <i>Confirm new password</i>
                                    </h3>
                                    <input
                                        class="cell"
                                        ng-class="{ inputerror: !$ctrl.passwordMatches }"
                                        ng-model="$ctrl.confirmNewPassword"
                                        ng-change="$ctrl.confirmNewPasswordChanged({confirmNewPassword: $ctrl.confirmNewPassword})"
                                        type="password"
                                    />
                                </div>
                                <div class="spacer2"></div>
                                <div class="tabular-row spacer">
                                    <button
                                        ng-if="$ctrl.mode == $ctrl.modes[0]"
                                        ng-click="$ctrl.loginClicked()"
                                        class="cell bttn id-login-submit"
                                    >
                                        LOG IN
                                    </button>
                                    <button
                                        ng-if="$ctrl.mode == $ctrl.modes[1]"
                                        ng-disabled="!$ctrl.passwordStrength || !$ctrl.passwordMatches || $ctrl.newPassword.length == 0 || $ctrl.confirmNewPassword.length == 0"
                                        ng-click="$ctrl.changePasswordClicked()"
                                        class="cell bttn id-login-submit"
                                    >
                                        CHANGE PASSWORD
                                    </button>
                                </div>
                            </div>
                            <div class="cell spacer-horizontal"></div>
                            <div class="cell" ng-if="$ctrl.mode === $ctrl.modes[1]">
                                <h3 class="full-title upper"><i>Password requirements:</i></h3>
                                <div ng-repeat="check in $ctrl.passwordChecks track by $index">
                                    <h3 class="full-title upper" ng-if="$index == 0">
                                        <i>{{ $ctrl.passwordChecksRequired }} of the following:</i>
                                    </h3>
                                    <h3>
                                        <span class="full-title" ng-if="check[1]"
                                            ><i class="ok">&#10003;</i></span
                                        >
                                        <span class="full-title" ng-if="!check[1]"
                                            ><i class="error">&#10007;</i></span
                                        >
                                        <span class="full-title"
                                            ><i>{{ check[0] }}</i></span
                                        >
                                    </h3>
                                </div>
                            </div>
                        </form>
                    </section>
                </contentwrapper>
            </sectionbox>
        </div>
    </div>
</div>
