<div
    ng-if="$ctrl.show"
    role="dialog"
    class="modal"
    style="z-index: 1050; display: block"
    ng-click="$ctrl.outsideClick(); $event.stopPropagation();"
>
    <div class="modal-dialog modal-lg" ng-click="$event.stopPropagation();">
        <div class="modal-content" style="min-height: 10rem; z-index: 1055">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>
<div ng-if="$ctrl.show" class="modal-backdrop" style="z-index: 1040"></div>
