<div class="wrapper-overview">
    <div class="main-navbar">
        <navbar></navbar>
    </div>
    <div class="main-navbar-secondary">
        <overview-navbar ng-if="$ctrl.selectedSection === 'analyses'"></overview-navbar>
    </div>
    <div class="main-overview-sidebar">
        <div class="overview-sidenavbar">
            <div class="item-row">
                <a href="/overview/{{ sectionKey }}" ng-repeat="sectionKey in $ctrl.sectionKeys">
                    <div
                        ng-attr-id="{{ 'id-overview-sidenav-' + sectionKey }}"
                        class="item"
                        ng-class="{ active: sectionKey === $ctrl.selectedSection }"
                    >
                        {{ $ctrl.sections[sectionKey].displayName }}
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="overview-content">
            <search></search>
            <div>
                <analysis-selection
                    ng-if="
                        $ctrl.isSelected('analyses') || $ctrl.isSelected('analyses-by-classified')
                    "
                ></analysis-selection>
                <allele-selection ng-if="$ctrl.isSelected('variants')"></allele-selection>
                <import ng-if="$ctrl.isSelected('import')"></import>
            </div>
        </div>
    </div>
</div>
