/* TinyMCE editor tweaks */

/* Remove margin from placeholder on .no-content
 * else the p style will make it look weird
 */
div[id$='-editor-content'].no-content div p {
    @apply mb-0;
}
/* TODO: This only renders upon blur on text input field */
div[id^='tiny-react_'] p:not(:last-of-type) {
    @apply mt-0 mb-4 leading-normal;
}

[id*='-editor'] {
    /* &.collapsed + div { */
    /*   display: none; */
    /* } */

    .mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
        color: rgba(34, 47, 62, 0.5);
    }

    .no-content .mce-content-body:before,
    .no-content .mce-content-readonly:before {
        content: attr(aria-placeholder);
        color: rgba(34, 47, 62, 0.5);
        position: absolute;
    }
    .mce-content-body {
        @apply leading-normal;
        h1 {
            @apply text-2xl font-bold;
        }
        h2 {
            @apply text-xl font-bold;
        }
        h3 {
            @apply text-lg font-bold;
        }
        h4 {
            @apply text-base font-bold;
        }
        h5 {
            @apply text-sm font-bold;
        }
        h6 {
            @apply text-xs font-bold;
        }

        blockquote {
            @apply border-ellagray border-l-2 py-1 indent-2 italic;
        }

        a {
            @apply text-ellablue-darkest underline;
        }

        ul,
        ol {
            list-style-position: inside;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        /* editor content text colors */
        span[data-editor-text-color='red'] {
            @apply text-editor-red;
        }
        span[data-editor-text-color='green'] {
            @apply text-editor-green;
        }
        span[data-editor-text-color='blue'] {
            @apply text-editor-blue;
        }
        span[data-editor-highlight='true'] {
            @apply bg-editor-yellow px-0.5;
        }
        span[data-editor-bg-color='red'] {
            @apply bg-editor-red px-0.5 text-white;
        }
        span[data-editor-bg-color='green'] {
            @apply bg-editor-green px-0.5 text-white;
        }
        span[data-editor-bg-color='blue'] {
            @apply bg-editor-blue px-0.5 text-white;
        }
        table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
            @apply border-ellablue-darker border border-solid;
        }
        thead tr {
            @apply bg-ellablue-darker;
        }

        th,
        td {
            @apply border-b-ellablue-darker border-b border-solid p-1;
        }
        thead td {
            @apply font-medium text-white;
        }
        tbody tr:nth-child(odd) {
            @apply bg-white;
        }

        tbody tr:nth-child(even) {
            @apply bg-ellagray-100;
        }

        tbody tr {
            background-image: url(noise.png);
        }
        caption {
            padding: 20px;
            font-style: italic;
            caption-side: bottom;
            color: #666;
            text-align: right;
            letter-spacing: 1px;
        }
    }
}

[id*='-editor-toolbar'],
.tox-toolbar-overlord[role='group'] .tox-toolbar__primary {
    @apply bg-ellagray-100;

    .tox .tox-tbtn--bespoke {
        @apply bg-ellagray;
    }
    .tox-editor-header {
        border-radius: 0 !important;
    }
}

[id$='-editor-toolbar'] {
    .tox-dialog {
        .tox-dialog__body {
            @apply h-48 overflow-y-auto;
        }
        .tox-checkbox {
            height: 30px;
        }
        /* Clean up checkboxes in references selection dialog */
        .tox-checkbox__icons {
            display: none;
        }
    }
}

/* editor modals (dialogs) */
.tox-dialog[aria-modal='true'] {
    @apply relative mx-auto rounded-md border border-black bg-white p-5 shadow-lg;

    .tox-dialog__header {
        button {
            flex: 0;
        }
    }

    select:focus {
        @apply border-ellablue-darkest ring-ellablue-darkest;
    }

    .tox-dialog__body {
        @apply h-full text-sm font-medium;
    }

    button {
        @apply bg-ellablue-darkest hover:bg-ellablue-darker focus:ring-ellablue-lighter flex w-full justify-center whitespace-nowrap rounded-md py-2 px-4 text-sm font-medium tracking-wide text-white shadow-sm hover:shadow-md focus:outline-none focus:ring-2;
    }
}
