::-webkit-scrollbar {
    width: 6px; /* vertical */
    height: 6px; /* horizontal */
}

::-webkit-scrollbar-track {
    background-color: theme('colors.ellagray.100');
}

::-webkit-scrollbar-thumb {
    @apply rounded;
    background-color: theme('colors.ellablue.DEFAULT');
}

::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.ellablue.darkest');
}
