<sectionbox color="green" modal="true" on-close="($ctrl.close)">
    <maintitle>GENE PANEL INFO </maintitle>
    <controls>
        <section class="line-wrapper pinned-right">
            <button class="id-close" type="button" ng-click="$ctrl.close()">Close</button>
        </section>
    </controls>
    <contentwrapper>
        <div class="genepanel-overview">
            <div class="info-container">
                <div>
                    <h4 class="section-header">Info:</h4>
                    Panel: {{ $ctrl.genepanel.name }}_{{ $ctrl.genepanel.version }} <br />
                    Genes: {{ $ctrl.genepanel.genes.length }} <br />
                    Transcripts: {{ $ctrl.totalTranscriptsCount }} <br />
                </div>

                <div>
                    <div class="genepanel-stats-container">
                        <h4 class="section-header">5 most similar gene panels:</h4>
                        <div class="genepanel-stats table">
                            <div class="tabular-row">
                                <div class="cell">
                                    <h4 class="faded-title">Name</h4>
                                </div>
                                <div
                                    class="cell"
                                    tippy-title="Number of additional genes (not present in {{
                                        $ctrl.genepanel.name
                                    }}_{{ $ctrl.genepanel.version }})"
                                >
                                    <h4 class="faded-title">Additional</h4>
                                </div>
                                <div class="cell" tippy-title="Number of overlapping genes">
                                    <h4 class="faded-title">Overlapping</h4>
                                </div>
                                <div
                                    class="cell"
                                    tippy-title="Number of missing genes (only present in {{
                                        $ctrl.genepanel.name
                                    }}_{{ $ctrl.genepanel.version }})"
                                >
                                    <h4 class="faded-title">Missing</h4>
                                </div>
                            </div>
                            <div class="tabular-row" ng-repeat="entry in $ctrl.stats.overlap">
                                <div class="cell">{{ entry.name }}_{{ entry.version }}</div>
                                <div
                                    class="cell additional-count"
                                    tippy-title="Number of additional genes in {{ entry.name }}_{{
                                        entry.version
                                    }} (not present in {{ $ctrl.genepanel.name }}_{{
                                        $ctrl.genepanel.version
                                    }})"
                                >
                                    {{ entry.addition_cnt }}
                                </div>
                                <div
                                    class="cell overlapping-count"
                                    tippy-title="Number of overlapping genes in {{ entry.name }}_{{
                                        entry.version
                                    }}"
                                >
                                    {{ entry.overlap_cnt }}
                                </div>
                                <div
                                    class="cell missing-count"
                                    tippy-title="Number of missing genes in {{ entry.name }}_{{
                                        entry.version
                                    }} (only present in {{ $ctrl.genepanel.name }}_{{
                                        $ctrl.genepanel.version
                                    }})"
                                >
                                    {{ entry.missing_cnt }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="section-header" ng-if="$ctrl.genepanel.regions">Regions:</h4>
            <div class="genepanel-gene-container">
                <div
                    class="genepanel-gene"
                    ng-repeat="region in $ctrl.genepanel.regions track by region.id"
                    tippy-popover="genepanelOverviewGenePopover.ngtmpl.html"
                    tippy-placement="bottom"
                >
                    <span class="gene-name">{{ region.name }}</span>
                </div>
            </div>
            <div class="no-results" ng-if="$ctrl.filteredGenes.genes.length == 0">
                <h4 class="sb-notification">No results</h4>
            </div>

            <h4 class="section-header">Gene list:</h4>
            <button
                class="copy-button bttn"
                ng-click="$ctrl.copyGenesToClipboardClicked({genes: $ctrl.filteredGenes.allFilteredGenes})"
            >
                Copy {{ ($ctrl.modelGeneFilter && 'filtered') || 'all' }}
            </button>

            <button
                class="copy-button bttn"
                ng-click="$ctrl.copyGenesToClipboardClicked({includeTranscripts: true, genes: $ctrl.filteredGenes.allFilteredGenes})"
            >
                Copy {{ ($ctrl.modelGeneFilter && 'filtered') || 'all' }} with transcripts
            </button>
            <div class="filter-controls">
                <input
                    style="text-transform: uppercase"
                    placeholder="FILTER"
                    ng-model="$ctrl.modelGeneFilter"
                    ng-change="$ctrl.geneFilterChanged({filter: $ctrl.modelGeneFilter})"
                />

                <div class="pagination-controls">
                    <span ng-if="$ctrl.filteredGenes.genes.length"
                        >Showing {{ $ctrl.filteredGenes.genes[0].hgnc_symbol }} to
                        {{
                            $ctrl.filteredGenes.genes[$ctrl.filteredGenes.genes.length - 1]
                                .hgnc_symbol
                        }}
                    </span>
                    <uib-pagination
                        total-items="$ctrl.filteredGenes.totalCount"
                        ng-model="$ctrl.modelFilteredGenesPage"
                        ng-model-watch="$ctrl.filteredGenesPage"
                        class="pagination-sm"
                        ng-change="$ctrl.filteredGenesPageChanged({page: $ctrl.modelFilteredGenesPage})"
                        items-per-page="$ctrl.filteredGenesPerPage"
                        max-size="5"
                        rotate="false"
                    >
                    </uib-pagination>
                </div>
            </div>
            <div class="genepanel-gene-container">
                <div
                    class="genepanel-gene"
                    ng-repeat="gene in $ctrl.filteredGenes.genes track by gene.hgnc_id"
                    tippy-popover="genepanelOverviewGenePopover.ngtmpl.html"
                    tippy-placement="bottom"
                >
                    <span class="gene-name">{{ gene.hgnc_symbol }}</span>
                </div>
            </div>
            <div class="no-results" ng-if="$ctrl.filteredGenes.genes.length == 0">
                <h4 class="sb-notification">No results</h4>
            </div>
        </div>
    </contentwrapper>
</sectionbox>
