<div class="sectionbox">
    <contentwrapper>
        <allele-sectionbox-content
            style="display: flex; flex-wrap: wrap; max-width: 100rem !important"
            allele-path="$ctrl.allelesPath + '.' + allele.id"
            boxes="$ctrl.sectionContents[allele.id].frequency"
        ></allele-sectionbox-content>
    </contentwrapper>
</div>
