@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* custom styles */
@import 'style/scrollbar';
@import 'style/sectionbox';
@import 'style/editor';

[contenteditable]:focus {
    outline: 0;
}
.acmg-pn {
    border: #857047;
    background: #e9e7e7;
}
.acmg-pn {
    border: #857047;
    background: #e9e7e7;
}
.acmg-pv {
    border: #990000;
    background: #dba6a6;
}
.acmg-pp {
    border: #e6a21a;
    background: #fdf6e7;
}
.acmg-pm {
    border: #e6a21a;
    background: #f8e8d9;
}
.acmg-ps {
    border: #b84b14;
    background: #edd2c4;
}
.acmg-bp {
    border: #88cc00;
    background: #edf8d9;
}
.acmg-bs {
    border: #4bb814;
    background: #d2edc4;
}
.acmg-ba {
    border: #008000;
    background: #a6d3a6;
}
.acmg-other {
    border: #a4a4a4;
    background: #dbdbdb;
}

.acmg-link-pn {
    color: #635462;
    border-color: #b7ab96;
}
.acmg-link-pn {
    color: #635462;
    border-color: #b7ab96;
}
.acmg-link-pv {
    color: #660000;
    border-bottom: 2px dotted #ba5252;
}
.acmg-link-pp {
    color: #b88114;
    border-color: #f1cb80;
}
.acmg-link-pm {
    color: #994d00;
    border-color: #d79e67;
}
.acmg-link-ps {
    color: #8a3814;
    border-bottom: 2px dotted #d28d6b;
}
.acmg-link-bp {
    color: #669900;
    border-color: #bae16c;
}
.acmg-link-bs {
    color: #388a3c;
    border-color: #8dd26b;
}
.acmg-link-ba {
    color: #004d2e;
    border-color: #52a952;
}
.acmg-link-other {
    color: #333;
    border-color: #939393;
}
