<div class="acmg" ng-class="vm.getACMGclass()">
    <div class="upper-wrapper">
        <section class="acmg-upper">
            <div class="left-item">
                <h4
                    class="id-adjust-down adjust-button"
                    ng-style="
                        (vm.isDowngradable() && vm.editable && { visibility: 'visible' }) || {
                            visibility: 'hidden'
                        }
                    "
                    class="clickable"
                    ng-click="vm.downgradeCode()"
                >
                    -
                </h4>
                <div class="acmg-title-wrapper">
                    <h4
                        class="acmg-title clickable"
                        tippy-popover="{{ vm.popover.templateUrl }}"
                        tippy-popover-title="{{
                            vm.formatCode(vm.getCodeForDisplay().code) | noUnderscores
                        }}"
                    >
                        {{ vm.formatCode(vm.getCodeForDisplay().code) | dropREQ | noUnderscores }}
                    </h4>
                </div>
                <h4
                    class="id-adjust-up adjust-button"
                    ng-style="
                        (vm.isUpgradable() &&
                            vm.editable === true && { visibility: 'visible' }) || {
                            visibility: 'hidden'
                        }
                    "
                    class="clickable"
                    ng-click="vm.upgradeCode()"
                >
                    +
                </h4>
            </div>
            <h4 class="description">{{ vm.getShortCriteria() }}</h4>
            <h4 class="right-item" ng-if="vm.isMoreThanOne()">{{ vm.code.length }}x</h4>
            <button
                class="right-item transparent"
                ng-click="vm.toggle()"
                ng-if="vm.toggleText && vm.isEditable()"
            >
                {{ vm.toggleText }}
            </button>
        </section>
        <aside
            class="acmg-req noclick"
            ng-if="!vm.isInACMGsection()"
            ng-class="vm.getACMGclass(r)"
            ng-repeat="r in vm.getRequiredFor()"
            ng-disabled="!vm.isEditable()"
        >
            <section class="acmg-upper">
                <h4 class="acmg-title">{{ r }}</h4>
            </section>
        </aside>
        <aside
            class="acmg-req"
            ng-if="vm.isInACMGsection()"
            ng-class="vm.getACMGclass(r)"
            ng-repeat="r in vm.getRequiredFor()"
            ng-click="vm.clickAddRequiredForCode(r)"
            ng-disabled="!vm.isEditable()"
        >
            <section class="acmg-upper">
                <h4 class="acmg-title clickable white">+ {{ vm.formatCode(r) }}</h4>
            </section>
        </aside>
    </div>
    <section class="acmg-lower" ng-if="vm.commentModel != undefined">
        <wysiwyg-editor
            class="right-item commentbox id-comment-acmg"
            templates="vm.templates"
            collapsed="vm.collapsed"
            references="vm.references"
            ng-disabled="!vm.isEditable()"
            placeholder="{{ vm.getPlaceholder() }}"
            ng-model="vm.commentModel"
            ng-change="vm.onUpdate()"
        ></wysiwyg-editor>
    </section>
</div>
