<table>
    <tr ng-if="!$ctrl.allele.annotation.filtered.length">
        <td colspan="5">
            <h3 class="full-title"><i>NO TRANSCRIPT EFFECTS FOUND</i></h3>
        </td>
        <td>
            <h3 class="full-title">
                <div class="allele_popup" isolate-click>
                    <span
                        class="clickable"
                        item="t"
                        tippy-popover="cdnaPopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="{{ $ctrl.getHGVSTitle($ctrl.allele) }}"
                    >
                        <b>{{ $ctrl.getHGVSg($ctrl.allele) }}</b>
                        {{ $ctrl.allele.formatted.genotype }}
                    </span>
                </div>
            </h3>
        </td>
        <td>
            <h3 class="full-title">
                <a-clip href="{{ $ctrl.getUCSCLink() }}"
                    >{{ $ctrl.allele.formatted.genomicPosition }}
                </a-clip>
            </h3>
        </td>
    </tr>
    <tr ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript">
        <td ng-if="$ctrl.genepanel && $ctrl.getGenepanelValues(t.symbol).inheritance !== ''">
            <h3 class="full-title">
                {{ $ctrl.genepanelValues[t.hgnc_id].inheritance }}
            </h3>
        </td>

        <td ng-if="$ctrl.genepanel">
            <h3 class="full-title">
                <div class="id-allelebar-gene allele_popup" isolate-click>
                    <span
                        class="clickable"
                        tippy-popover="genePopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="GENE INFO"
                    >
                        {{ t.symbol }} <i>{{ t.exon }}</i>
                    </span>
                    <span
                        tippy-title="Has user-added gene comments"
                        class="tag"
                        ng-if="$ctrl.hasGeneAssessment(t.hgnc_id)"
                        >INFO</span
                    >
                </div>
            </h3>
        </td>
        <td ng-if="!$ctrl.genepanel">
            <h3 class="full-title">
                <span>
                    {{ t.symbol }} <i>{{ t.exon }}</i>
                </span>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div class="allele_popup" isolate-click>
                    <span
                        class="clickable"
                        item="t"
                        tippy-popover="cdnaPopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="{{ $ctrl.getHGVSTitle($ctrl.allele) }}"
                    >
                        <i>{{ $ctrl.getTranscriptText($ctrl.allele, t) }}</i
                        ><b>{{ t.HGVSc_short || $ctrl.getHGVSg($ctrl.allele) }}</b>

                        {{ $ctrl.allele.formatted.genotype }}
                    </span>
                    <span ng-if="$ctrl.genotypeDisplay.length">
                        <span
                            class="genotype-display"
                            ng-repeat="gt in $ctrl.genotypeDisplay"
                            tippy-title="{{ gt.title }}"
                        >
                            <span ng-if="$ctrl.genotypeDisplay.length > 1">
                                {{ gt.sample_label }}:
                            </span>
                            <!-- poor mans if/else -->
                            <ng-container
                                ng-switch="$ctrl.isTruncateGenotypeDisplay(gt.display).toString()"
                            >
                                <span ng-switch-when="true"
                                    >{{ $ctrl.truncatedGenotypeDisplay(gt.display) }}&#x2026;</span
                                >
                                <span ng-switch-default>{{ gt.display }}</span>
                            </ng-container>
                            <span
                                tippy-title="Homozygous"
                                class="tag red"
                                ng-if="gt.sample_label == 'P' && gt.type == 'Homozygous'"
                                >HOM</span
                            >
                            <span tippy-title="Multiallelic" class="tag" ng-if="gt.multiallelic"
                                >MUL</span
                            >
                        </span>
                    </span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div class="allele_popup" isolate-click>
                    <span
                        class="clickable"
                        tippy-popover="proteinPopover.ngtmpl.html"
                        tippy-placement="bottom"
                        tippy-popover-title="PROTEIN"
                    >
                        <i ng-if="t.HGVSp">{{ t.protein }}:</i><b>{{ t.HGVSp }}</b
                        ><i> {{ $ctrl.formatCodons(t.codons) }}</i>
                    </span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <div
                    tippy-popover="alleleInfoConsequencePopover.ngtmpl.html"
                    tippy-placement="bottom"
                    tippy-popover-title="CONSEQUENCE"
                >
                    <span class="clickable">{{ t.consequences | commaSeparated | shortCsq }}</span>
                </div>
            </h3>
        </td>

        <td>
            <h3 class="full-title">
                <a-clip href="{{ $ctrl.getUCSCLink() }}"
                    >{{ $ctrl.allele.formatted.genomicPosition }}
                </a-clip>
            </h3>
        </td>
    </tr>
</table>
