<article class="sectionbox-content allele-list">
    <a
        class="id-variant clickable list-item"
        href="{{ item.allele.links.workflow }}"
        ng-repeat="item in $ctrl.alleles track by [item.genepanel.name, item.genepanel.version, item.allele.id]"
        ng-attr-target="{{ $ctrl.newTarget ? '_blank' : undefined }}"
    >
        <div>{{ item.date_created | date : 'yyyy-MM-dd' }}</div>
        <div class="allele-priority">{{ $ctrl.getPriorityText(item) }}</div>
        <div class="full-title ref-title id-variant-name">
            <b tippy-title="{{ item.allele.formatted.display }}" tippy-clipboard="true">{{
                item.allele.formatted.display
            }}</b>
            <span class="tag id-assessment">{{ $ctrl.getClassificationText(item.allele) }}</span>
        </div>
        <div class="allele-genepanel">{{ item.genepanel.name }}_{{ item.genepanel.version }}</div>
        <div class="allele-extras">
            <span
                class="analysis-comment id-allele-comment"
                ng-if="!$ctrl.isalleleDone(allele) && $ctrl.getReviewComment(item)"
                >{{ $ctrl.getReviewComment(item) }}</span
            >
        </div>

        <div class="allele-users">
            <div
                ng-if="item.interpretations.length > 1 || item.interpretations[0].user"
                ng-repeat="interpretation in item.interpretations track by interpretation.id"
            >
                <interpretation-round-info
                    index="{{ $index + 1 }}"
                    interpretation="interpretation"
                ></interpretation-round-info>
            </div>
        </div>
    </a>
</article>
