<sectionbox color="custom" collapsible="false" class="warning-box" ng-if="$ctrl.warnings.length">
    <maintitle><h3>Warning</h3></maintitle>
    <subtitle
        ><h3>{{ $ctrl.warnings.length }}</h3></subtitle
    >
    <contentwrapper>
        <ul>
            <li ng-repeat="w in $ctrl.warnings">{{ w.warning | shortCsq }}</li>
        </ul>
    </contentwrapper>
</sectionbox>
