<div class="gene-information">
    <h4 class="section-title">Links</h4>
    <a-clip
        tippy-title="See gene symbol report in HGNC"
        href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{ $ctrl.hgncId }}"
        >HGNC</a-clip
    >
    •
    <a-clip
        tippy-title="See ClinGen gene curation summaries"
        href="https://search.clinicalgenome.org/kb/genes/HGNC:{{ $ctrl.hgncId }}"
        >ClinGen</a-clip
    >,
    <a-clip tippy-title="See gene summary in HGMD Pro" href="{{ $ctrl.getHgmdLink() }}">HGMD</a-clip
    >, <a-clip tippy-title="See gene info in OMIM" href="{{ $ctrl.getOmimLink() }}">OMIM</a-clip>,
    <a-clip
        tippy-title="See gene panels with this gene in PanelApp"
        href="https://panelapp.genomicsengland.co.uk/panels/entities/{{ $ctrl.hgncSymbol }}"
        >PanelApp</a-clip
    >
    •
    <a-clip
        tippy-title="See ACMG Recommendations for Reporting of Incidental Findings gene list"
        href="https://www.ncbi.nlm.nih.gov/clinvar/docs/acmg/"
        >ACMG Incidental</a-clip
    >
    <h4 class="section-title id_inheritance">Inheritance</h4>
    {{ $ctrl.genepanelValues[$ctrl.hgncId].inheritance }}
    <h4 class="section-title">Default transcript(s)</h4>
    <ul class="popover-list indented">
        <li ng-repeat="tx in $ctrl.genepanelValues[$ctrl.hgncId].transcripts">
            {{ tx.transcript_name }} {{ $ctrl.getTranscriptTags(tx) }}
        </li>
    </ul>
    <h4 class="section-title">Phenotypes</h4>
    <ul class="popover-list indented">
        <li ng-repeat="ph in $ctrl.genepanelValues[$ctrl.hgncId].phenotypes">
            {{ ph.description }} ({{ ph.inheritance }})
        </li>
    </ul>
    <h4 class="section-title">BS1/BA1 cutoff</h4>
    <ul class="popover-list indented">
        <li>
            External:
            {{ $ctrl.getFrequencyExternal() }}
            <span
                style="color: red"
                ng-if="$ctrl.genepanelValues[$ctrl.hgncId].freqCutoffsACMG.overridden"
                >(overridden)</span
            >
        </li>
        <li>
            Internal:
            {{ $ctrl.getFrequencyInternal() }}
            <span
                style="color: red"
                ng-if="$ctrl.genepanelValues[$ctrl.hgncId].freqCutoffsACMG.overridden"
                >(overridden)</span
            >
        </li>
    </ul>
    <h4 class="section-title">Gene comments</h4>
    <div class="comment-container" ng-if="$ctrl.hgncId">
        <wysiwyg-editor
            class="id-comment-gene-assessment comment-editor"
            ng-disabled="!$ctrl.isCommmentEditable()"
            ng-model="$ctrl.getGeneCommentModel().comment"
            ng-change="$ctrl.geneCommentChanged()"
            templates="$ctrl.commentTemplates.geneInformation"
        ></wysiwyg-editor>
        <div class="comment-controls">
            <button
                class="id-edit-gene-assessment blue"
                ng-if="!$ctrl.isCommmentEditable()"
                ng-click="$ctrl.editClicked()"
            >
                EDIT
            </button>
            <confirm-button
                class="id-undo-gene-assessment"
                ng-if="$ctrl.isCommmentEditable()"
                confirm-action="$ctrl.undoGeneAssessment"
                ng-disabled="$ctrl.readOnly"
                color="blue"
                confirm-color="red"
            >
                Undo
            </confirm-button>
            <button
                class="purple id-update-gene-assessment"
                ng-if="$ctrl.isCommmentEditable()"
                ng-click="$ctrl.updateGeneAssessmentClicked({geneAssessment: $ctrl.userGeneAssessment})"
                ng-disabled="!$ctrl.isGeneCommentChanged()"
            >
                Update
            </button>
        </div>
    </div>
</div>
