<div>
    <h3 class="full-title">
        {{ $ctrl.index }} • {{ $ctrl.getEndAction()
        }}<b>{{
            $ctrl.interpretation.user.abbrev_name ? $ctrl.interpretation.user.abbrev_name : ''
        }}</b>
        <i ng-if="$ctrl.interpretation.user.abbrev_name">
            • {{ $ctrl.interpretation.date_last_update | date : 'yyyy-MM-dd HH:mm' }}</i
        >
    </h3>
</div>
