<section class="sectionbox" ng-class="vm.getClasses()" ng-disabled="vm.ngDisabled">
    <header class="sb titlebar">
        <div class="sb-title-container" ng-click="vm.collapse()">
            <div class="icon modal-close" ng-click="vm.close()" ng-if="vm.isModal() && vm.onClose">
                <svg
                    id="i-close"
                    viewBox="0 0 32 32"
                    width="32"
                    height="32"
                    fill="none"
                    stroke="currentcolor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="6.25%"
                >
                    <path d="M2 30 L30 2 M30 30 L2 2" />
                </svg>
            </div>
            <div class="icon collapser" ng-if="vm.isCollapsible()">
                <svg
                    id="i-play"
                    viewBox="0 0 32 32"
                    width="32"
                    height="32"
                    fill="currentcolor"
                    stroke="currentcolor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="6.25%"
                >
                    <path d="M10 2 L10 30 24 16 Z" />
                </svg>
            </div>
            <div class="title" ng-transclude="title"></div>
            <div class="subtitle" ng-transclude="subtitle"></div>
        </div>
        <div class="sb-controls" ng-transclude="controls"></div>
    </header>
    <div class="sb-container" ng-class="{ topcontrols: vm.onTop() }">
        <article class="sb-top" ng-transclude="top"></article>
        <article class="sb-body" ng-transclude="contentwrapper"></article>
    </div>
</section>
