<div class="navbar-secondary" ng-if="$ctrl.workflowType === 'analysis'">
    <div class="workflow-options">
        <div class="bttn-set">
            <label
                tabindex="0"
                class="bttn"
                id="section-{{ c | lowercase }}"
                ng-model="$ctrl.modelSelectedComponent"
                ng-model-watch="$ctrl.selectedComponent"
                ng-change="$ctrl.componentChanged({selectedComponent: c})"
                uib-btn-radio="c"
                ng-repeat="c in $ctrl.componentKeys"
                ng-disabled="!$ctrl.workflowLoaded"
                >{{ c }}</label
            >
        </div>
        <div ng-if="$ctrl.config.app.feature_flags.cnv || false" class="bttn-set">
            <label
                tabindex="0"
                class="bttn"
                id="caller-type-selector-{{ ct | lowercase }}"
                uib-btn-radio="ct"
                ng-repeat="ct in $ctrl.callerTypes"
                ng-model="$ctrl.callerTypeSelected"
                ng-disabled="!$ctrl.workflowLoaded"
                ng-change="$ctrl.callerTypeSelectedChanged( { callerTypeSelected: ct } )"
                >{{ ct }}</label
            >
        </div>
    </div>
    <section>
        <button
            ng-click="$ctrl.showGenepanelOverviewClicked({name: $ctrl.selectedGenepanel.name, version: $ctrl.selectedGenepanel.version})"
            ng-disabled="!$ctrl.workflowLoaded"
        >
            Gene panel info
        </button>
        <div class="dropdown white" ng-if="$ctrl.showHistory()">
            <select
                class="id-interpretationrounds-dropdown"
                ng-options="i.id as $ctrl.formatHistoryOption(i) for i in $ctrl.historyInterpretations"
                ng-change="$ctrl.selectedInterpretationChanged({interpretationId: $ctrl.modelSelectedInterpretationId})"
                ng-model="$ctrl.modelSelectedInterpretationId"
                ng-model-watch="$ctrl.selectedInterpretationId"
            ></select>
        </div>
        <button
            ng-if="$ctrl.workflowType == 'analysis'"
            class="id-worklog"
            ng-disabled="!$ctrl.workflowLoaded"
            ng-class="{ purple: $ctrl.messageCount > 0 }"
            tippy-popover="interpretationLogPopover.ngtmpl.html"
        >
            Work log <span ng-if="$ctrl.messageCount != null">({{ $ctrl.messageCount }})</span>
        </button>
        <workflow-buttons readOnly="$ctrl.readOnly" start-when-reopen="false"></workflow-buttons>
    </section>
</div>
<div class="navbar-bottom" ng-if="$ctrl.selectedAlleleId">
    <allelebar
        allele-path="'views.workflows.interpretation.data.alleles.' + $ctrl.selectedAlleleId"
        genepanel-path="'views.workflows.interpretation.data.genepanel'"
    ></allelebar>
    <section>
        <section class="line-wrapper">
            <section>
                <button
                    class="id-copy-alamut"
                    ng-click="$ctrl.copySelectedAlamutClicked()"
                    ng-disabled="!$ctrl.workflowLoaded"
                >
                    Copy variant to alamut
                </button>
                <button
                    ng-if="$ctrl.workflowType == 'allele'"
                    ng-click="$ctrl.showAnalysesForAlleleClicked({allele: $ctrl.alleles[$ctrl.allele.id]}); $event.preventDefault();"
                >
                    Show analyses
                </button>
                <button
                    class="id-add-references"
                    ng-click="$ctrl.addReferencesClicked({alleleId: $ctrl.selectedAlleleId})"
                    ng-disabled="$ctrl.readOnly || !$ctrl.workflowLoaded || $ctrl.isCurrentAlleleReused"
                    ng-if="!$ctrl.readOnly"
                >
                    Add studies
                </button>
                <button
                    class="id-add-acmg"
                    tippy-popover="acmgSelectionPopover.ngtmpl.html"
                    ng-if="!$ctrl.readOnly"
                    ng-disabled="$ctrl.readOnly || !$ctrl.workflowLoaded || $ctrl.isCurrentAlleleReused"
                >
                    Add ACMG
                </button>
                <upload
                    ng-if="!$ctrl.readOnly && !$ctrl.isCurrentAlleleReused"
                    mode="'browse'"
                    buttontext="'Add attachment'"
                    ng-disabled="!$ctrl.workflowLoaded"
                >
                </upload>
                <button
                    class="id-collapse-all"
                    ng-click="$ctrl.collapseAllAlleleSectionboxClicked()"
                    ng-disabled="$ctrl.readOnly || !$ctrl.workflowLoaded"
                >
                    Collapse all
                </button>
                <div
                    class="dropdown white"
                    ng-if="$ctrl.workflowType == 'allele' && $ctrl.genepanels && !$ctrl.isOngoing"
                >
                    <select
                        class="id-genepanel-dropdown"
                        ng-options="gp as gp.name + '_' + gp.version for gp in $ctrl.genepanels"
                        ng-model="$ctrl.modelSelectedGenepanel"
                        ng-model-watch="$ctrl.selectedGenepanel"
                        ng-change="$ctrl.selectedGenepanelChanged({genepanel: $ctrl.modelSelectedGenepanel})"
                    ></select>
                </div>
                <button
                    ng-disabled="!$ctrl.workflowLoaded"
                    ng-if="$ctrl.workflowType == 'allele'"
                    class="id-worklog"
                    ng-class="{ purple: $ctrl.messageCount > 0 }"
                    tippy-popover="interpretationLogPopover.ngtmpl.html"
                >
                    Work log
                    <span ng-if="$ctrl.messageCount != null">({{ $ctrl.messageCount }})</span>
                </button>
                <workflow-buttons
                    ng-if="$ctrl.workflowType == 'allele'"
                    start-when-reopen="true"
                    readOnly="$ctrl.readOnly"
                ></workflow-buttons>
            </section>
        </section>
    </section>
</div>
