<div class="custom-genepanel">
    <div class="name">
        <div class="question tiny line-wrapper">
            <div class="left">
                <h5 class="slim title">
                    <b>IMPORT TO USER GROUPS</b>
                </h5>
            </div>
            <div class="right bttn-set">
                <div class="id-import-usergroup">
                    <label
                        class="bttn"
                        uib-btn-checkbox
                        ng-model="$ctrl.modelImportUserGroup[$index]"
                        ng-model-watch="$ctrl.selectedImportUserGroups[$index].selected"
                        ng-repeat="item in $ctrl.selectedImportUserGroups track by item.name"
                        ng-change="$ctrl.importUserGroupsChangedWrapper()"
                        >{{ item.name }}</label
                    >
                </div>
            </div>
        </div>
        <div class="question tiny line-wrapper">
            <div class="left">
                <h5 class="slim title">
                    <b>CUSTOM GENE PANEL NAME</b>
                </h5>
            </div>
            <div class="right">
                <input
                    class="id-import-custom-panel-name"
                    type="text"
                    maxlength="20"
                    placeholder="NAME"
                    title="Max 20 characters. No underscores or spaces."
                    oninput="this.value = this.value.replace(/[_\s]/g, '')"
                    ng-model="$ctrl.modelCustomGenepanelName"
                    ng-model-watch="$ctrl.addedGenepanel.name"
                    ng-change="$ctrl.customGenepanelNameChanged({name: $ctrl.modelCustomGenepanelName})"
                />_{{ $ctrl.addedGenepanel.version }}
            </div>
        </div>
    </div>

    <h4 class="section-header">Add transcripts:</h4>
    <div class="section">
        <div class="filter">
            <div class="dropdown white">
                <select
                    class="id-import-genepanel-source genepanel-select"
                    ng-options="gp as gp.name + '_' + gp.version for gp in $ctrl.genepanels track by gp.name + gp.version"
                    ng-model="$ctrl.modelSelectedGenepanel"
                    ng-model-watch="$ctrl.selectedGenepanel"
                    ng-change="$ctrl.selectedGenepanelChanged({genepanel: $ctrl.modelSelectedGenepanel})"
                ></select>
            </div>
            <div class="filter-mode-controls">
                <div class="id-import-filter-mode bttn-set">
                    <label
                        tabindex="0"
                        class="bttn"
                        uib-btn-radio="mode"
                        ng-model="$ctrl.modelSelectedFilterMode"
                        ng-model-watch="$ctrl.selectedFilterMode"
                        ng-repeat="mode in ['single', 'batch']"
                        ng-change="$ctrl.selectedFilterModeChanged({selectedFilterMode: $ctrl.modelSelectedFilterMode})"
                        >{{ mode }}</label
                    >
                </div>

                <span class="missing-warning" ng-if="$ctrl.candidatesMissingBatch.length"
                    >{{ $ctrl.candidatesMissingBatch.length }} missing</span
                >
            </div>

            <!-- single mode -->
            <input
                ng-if="$ctrl.selectedFilterMode == 'single'"
                class="id-import-filter-single gene-single-input"
                type="text"
                placeholder="FILTER"
                ng-model="$ctrl.modelCandidatesFilter"
                ng-model-watch="$ctrl.candidatesFilter"
                ng-change="$ctrl.candidatesFilterChanged({filter: $ctrl.modelCandidatesFilter})"
            />
            <!-- batch mode -->
            <div class="batch-mode" ng-if="$ctrl.selectedFilterMode == 'batch'">
                <textarea
                    ng-class="{ missing: $ctrl.candidatesMissingBatch.length }"
                    class="id-import-filter-batch gene-batch-input"
                    type="text"
                    placeholder="PASTE/TYPE GENE NAMES OR HGNC IDS"
                    ng-model="$ctrl.modelCandidatesFilterBatch"
                    ng-model-watch="$ctrl.candidatesFilterBatch"
                    ng-disabled="$ctrl.candidatesFilterBatchProcessed"
                    ng-change="$ctrl.candidatesFilterBatchChanged({filterBatch: $ctrl.modelCandidatesFilterBatch})"
                ></textarea>
                <div class="batch-mode-controls">
                    <button
                        ng-if="
                            $ctrl.candidatesFilterBatchProcessed &&
                            $ctrl.candidatesMissingBatch.length
                        "
                        class="blue"
                        ng-click="$ctrl.copyFilterBatchClicked()"
                    >
                        Copy
                    </button>
                    <button
                        ng-if="$ctrl.candidatesFilterBatchProcessed"
                        class="id-import-filter-clear red"
                        ng-click="$ctrl.clearFilterBatchClicked()"
                    >
                        Clear
                    </button>
                    <button
                        ng-if="!$ctrl.candidatesFilterBatchProcessed"
                        class="id-import-filter-apply blue"
                        ng-disabled="$ctrl.modelCandidatesFilterBatch.length == 0"
                        ng-click="$ctrl.applyFilterBatchClicked({filterBatch: $ctrl.modelCandidatesFilterBatch})"
                    >
                        Apply
                    </button>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="results-header">
                <span class="slim title upper"
                    ><b class="id-import-filter-results-text">{{
                        $ctrl.getCandidatesFilterText()
                    }}</b>
                    <small>{{ $ctrl.getCandidatesFilterSubText() }}</small></span
                >
                <button
                    class="id-import-add-all gene-button blue"
                    ng-click="$ctrl.addAllTranscriptsClicked()"
                >
                    Add all
                </button>
                <uib-pagination
                    total-items="$ctrl.candidatesFilteredTotalItems.transcripts"
                    ng-model="$ctrl.modelCandidatesSelectedPage"
                    ng-model-watch="$ctrl.candidatesSelectedPage"
                    class="pagination-sm gene-pagination"
                    items-per-page="$ctrl.candidatesPerPage"
                    ng-change="$ctrl.selectedCandidatesPageChanged({selectedPage: $ctrl.modelCandidatesSelectedPage})"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                >
                </uib-pagination>
            </div>

            <div class="gene-list id-import-filter-results">
                <div
                    class="list-item"
                    ng-class="{ added: transcript.added }"
                    ng-repeat="transcript in $ctrl.candidateTranscripts"
                >
                    <div class="gene">
                        {{ transcript.hgnc_symbol }} ({{ transcript.inheritance }})
                    </div>
                    <div class="transcript">
                        {{ transcript.transcript_name }}
                    </div>
                    <div class="action">
                        <button
                            class="id-import-add-single blue"
                            ng-disabled="transcript.added"
                            ng-click="$ctrl.addTranscriptClicked({added: transcript})"
                        >
                            {{ $ctrl.getAddBtnText(transcript) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4 class="section-header">Custom gene panel:</h4>
    <div class="section custom-genepanel-results">
        <div class="filter">
            <input
                type="text"
                class="id-import-filter-single"
                placeholder="FILTER"
                ng-model="$ctrl.modelAddedFilter"
                ng-model-watch="$ctrl.addedFilter"
                ng-change="$ctrl.addedFilterChanged({filter: $ctrl.modelAddedFilter})"
            />
        </div>
        <div class="results">
            <div class="results-header">
                <span class="slim title upper"
                    ><b class="id-import-added-text">{{ $ctrl.getAddedFilterText() }}</b>
                    <small>{{ $ctrl.getAddedFilterSubText() }}</small></span
                >
                <button class="red" ng-click="$ctrl.removeAllTranscriptsClicked()">
                    Remove all
                </button>
                <uib-pagination
                    total-items="$ctrl.addedFilteredTotalItems.transcripts"
                    ng-model="$ctrl.modelAddedSelectedPage"
                    ng-model-watch="$ctrl.addedSelectedPage"
                    class="pagination-sm gene-pagination"
                    items-per-page="$ctrl.addedPerPage"
                    ng-change="$ctrl.selectedAddedPageChanged({selectedPage: $ctrl.modelAddedSelectedPage})"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                >
                </uib-pagination>
            </div>
            <div class="gene-list id-import-added-results">
                <div class="list-item" ng-repeat="transcript in $ctrl.addedTranscripts">
                    <div class="gene">
                        {{ transcript.hgnc_symbol }} ({{ transcript.inheritance }})
                    </div>
                    <div class="transcript">
                        {{ transcript.transcript_name }}
                    </div>
                    <div class="action">
                        <button
                            class="blue id-import-remove-single"
                            ng-click="$ctrl.removeTranscriptClicked({removed: transcript})"
                        >
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
